@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Services"];
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs mb-2">
                    <span class="mr-2"><a asp-controller="Home" asp-action="Index">@Localizer["Home"] <i class="fa fa-chevron-right"></i></a></span>
                    <span>@Localizer["Services"] <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-0 bread">@Localizer["Services"]</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
                <div class="d-block services-wrap text-center">
                    <div class="img" style="background-image: url(/images/services-1.jpg);"></div>
                    <div class="media-body py-4 px-3">
                        <h3 class="heading">@Localizer["MapDirection"]</h3>
                        <p>@Localizer["MapDirectionDescription"]</p>
                        <p><a href="#" class="btn btn-primary">@Localizer["ReadMore"]</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
                <div class="d-block services-wrap text-center">
                    <div class="img" style="background-image: url(/images/services-2.jpg);"></div>
                    <div class="media-body py-4 px-3">
                        <h3 class="heading">@Localizer["AccomodationServices"]</h3>
                        <p>@Localizer["AccomodationServicesDescription"]</p>
                        <p><a href="#" class="btn btn-primary">@Localizer["ReadMore"]</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
                <div class="d-block services-wrap text-center">
                    <div class="img" style="background-image: url(/images/services-3.jpg);"></div>
                    <div class="media-body py-4 px-3">
                        <h3 class="heading">@Localizer["GreatExperience"]</h3>
                        <p>@Localizer["GreatExperienceDescription"]</p>
                        <p><a href="#" class="btn btn-primary">@Localizer["ReadMore"]</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light ftco-no-pt">
    <div class="container">
        <div class="row no-gutters justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>@Localizer["Amenities"]</h2>
            </div>
        </div>
        <div class="row">
            <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                    <span class="flaticon-diet"></span>
                </div>
                <div class="media-body pl-3">
                    <h3 class="heading">@Localizer["TeaCoffee"]</h3>
                    <p>@Localizer["TeaCoffeeDescription"]</p>
                </div>
            </div>
            <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                    <span class="flaticon-workout"></span>
                </div>
                <div class="media-body pl-3">
                    <h3 class="heading">@Localizer["HotShowers"]</h3>
                    <p>@Localizer["HotShowersDescription"]</p>
                </div>
            </div>
            <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                    <span class="flaticon-diet-1"></span>
                </div>
                <div class="media-body pl-3">
                    <h3 class="heading">@Localizer["Laundry"]</h3>
                    <p>@Localizer["LaundryDescription"]</p>
                </div>
            </div>
            <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                    <span class="flaticon-first"></span>
                </div>
                <div class="media-body pl-3">
                    <h3 class="heading">@Localizer["AirConditioning"]</h3>
                    <p>@Localizer["AirConditioningDescription"]</p>
                </div>
            </div>
            <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                    <span class="flaticon-first"></span>
                </div>
                <div class="media-body pl-3">
                    <h3 class="heading">@Localizer["FreeWifi"]</h3>
                    <p>@Localizer["FreeWifiDescription"]</p>
                </div>
            </div>
            <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                    <span class="flaticon-first"></span>
                </div>
                <div class="media-body pl-3">
                    <h3 class="heading">@Localizer["Kitchen"]</h3>
                    <p>@Localizer["KitchenDescription"]</p>
                </div>
            </div>
            <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                    <span class="flaticon-first"></span>
                </div>
                <div class="media-body pl-3">
                    <h3 class="heading">@Localizer["Ironing"]</h3>
                    <p>@Localizer["IroningDescription"]</p>
                </div>
            </div>
            <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                    <span class="flaticon-first"></span>
                </div>
                <div class="media-body pl-3">
                    <h3 class="heading">@Localizer["Lockers"]</h3>
                    <p>@Localizer["LockersDescription"]</p>
                </div>
            </div>
        </div>
    </div>
</section>



